$defaultColor: #cecec4;
$activeColor: #1ed9be;
// 初始化
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
dl,
dt,
dd,
ul,
ol,
li,
form,
span,
strong,
b,
em,
i,
button,
input,
textarea,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: auto !important;
  color: #333;
  font-size: 14px;
  font-family: 'Arial', 'Microsoft YaHei', '黑体', '宋体', sans-serif !important;
}

img {
  border: 0 none;
  vertical-align: top;
}

a {
  text-decoration: none !important;
  cursor: pointer;
  outline: none;
  hide-focus: expression(this.hideFocus=true);
}

li {
  list-style: none;
  vertical-align: top;
}

input {
  float: left;
  border: 0;
  background: none;
  outline: none;
  &:disabled {
    background-color: rgba(192, 192, 192, 0.4) !important;
  }
}

strong,
b {
  font-weight: normal;
}

.container {
  max-width: 1200px;
  padding: 0 !important;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

[v-cloak] {
  display: none;
}

::-webkit-input-placeholder {
  color: #999;
}

.clear {
  zoom: 1;
}

.clear:after {
  content: '\20';
  clear: both;
  display: block;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

// 元件
.u_transition_300 {
  transition: 0.3s all ease-in-out;
}

.u_transition_500 {
  transition: 0.5s all ease-in-out;
}

.u_transition_700 {
  transition: 0.7s all ease-in-out;
}

.u_hover_active:hover {
  color: $activeColor !important;
}

.u_hover_active_bg:hover {
  color: #fff !important;
  background: $activeColor !important;
}

.u_hover_show:hover {
  opacity: 1 !important;
}

.u_loading {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 25px;
  width: 10px;
  border-radius: 10%;
  background: #2c3e50;
  border-top-color: $activeColor;
  animation: fade2 1s infinite;
  transition: background 0.2s;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  &:after,
  &:before {
    content: '';
    position: absolute;
    display: block;
    height: 15px;
    width: 8px;
    background: #2c3e50;
    top: 5px;
    left: -12px;
    border-radius: 10%;
    animation: fade1 1s infinite;
    transition: background 0.2s;
  }
  &:before {
    left: 14px;
    animation: fade3 1s infinite;
  }
}

@keyframes fade1 {
  0% {
    background: $activeColor;
  }
}

@keyframes fade2 {
  33% {
    background: $activeColor;
  }
}

@keyframes fade3 {
  66% {
    background: $activeColor;
  }
}

.u_arrow {
  position: fixed;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-left: -11px;
  border: 3px solid transparent;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  z-index: 99;
  opacity: 0.8;
  -webkit-transform: rotate(45deg);
  -webkit-animation: arrow_move 1.5s infinite ease-in-out;
}

@keyframes arrow_move {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0px) rotate(45deg);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, -5px) rotate(45deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, -10px) rotate(45deg);
  }
}

.u_button {
  cursor: pointer;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  border-radius: 4px;
  margin-left: 20px;
  color: #fff;
  background-color: $defaultColor;
  border: 1px solid $defaultColor;
  &:hover {
    color: $activeColor !important;
    background-color: #fff !important;
    border: 1px solid $activeColor !important;
  }
}

.u_in_request {
  position: relative;
  i {
    animation: ball-clip-rotate 0.75s linear infinite;
    -webkit-animation: ball-clip-rotate 0.75s linear infinite;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 10;
    background-color: #fff;
    opacity: 0.35;
  }
}

.post-content-container {
  position: relative;
  bottom: -2px;
  box-shadow: 0px 15px 45px -9px rgba(0, 0, 0, 0.5);
}

.post-content-container:hover {
  bottom: 0;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.15);
}

// 布局
.g-overflow-hidden {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.g-c-center {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.g-r-center {
  display: flex;
  display: -webkit-flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.g-box {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.g-bolang {
  position: absolute;
  z-index: 1;
  width: 100%;
  svg {
    width: 100%;
    .g-bolang-svg {
      fill: #fff;
      -webkit-animation: bolang 20s linear infinite alternate;
      animation: bolang 20s linear infinite alternate;
      width: 100%;
    }
  }
}

#index .g-bolang-svg {
  fill-opacity: 0;
}

// 图片模糊
.progressive--not-loaded {
  filter: blur(20px);
}

.progressive--is-loaded {
  filter: blur(20px);
  animation: sharpen 1.2s ease-out both;
}

@keyframes sharpen {
  0% {
    filter: blur(15px);
  }
  80% {
    filter: blur(0px);
  }
  100%{
    filter: blur(0px);
  }
}

// 动画
@keyframes bolang {
  0% {
    d: path('M 27 10C 21 8 14 3 0 3L 0 0L 54 0L 54 14C 40 14 33 12 27 10Z');
  }
  50% {
    d: path('M 27 14C 12 14 5 7 0 7L 0 0L 54 0L 54 7C 49 7 42 14 27 14Z');
  }
  100% {
    d: path('M 27 10C 21 12 14 14 0 14L 0 0L 54 0L 54 3C 40 3 33 8 27 10Z');
  }
}

@keyframes ball-clip-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// 自适应
@media (max-width: 1250px) {
  .container {
    max-width: 920px !important;
  }
}

@media (max-width: 900px) {
  .container {
    max-width: 740px !important;
  }
}

@media (max-width: 800px) {
  .container {
    max-width: 600px !important;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 468px !important;
  }
}

@media (max-width: 550px) {
  .container {
    max-width: 350px !important;
  }
}

// font 资源配置
@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot?t=1502357518313');
  /* IE9*/
  src: url('../font/iconfont.eot?t=1502357518313#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../font/iconfont.woff?t=1502357518313') format('woff'),
    /* chrome, firefox */ url('../font/iconfont.ttf?t=1502357518313')
      format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
      url('../font/iconfont.svg?t=1502357518313#iconfont') format('svg');
  /* iOS 4.1- */
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-404:before {
  content: '\e6c7';
}

.icon-lianjie:before {
  content: '\e64b';
}

.icon-huifu:before {
  content: '\e647';
}

.icon-n-qing:before {
  content: '\e642' !important;
}

.icon-github:before {
  content: '\ead8';
}

.icon-search:before {
  content: '\e639';
}

.icon-n-duoyun:before {
  content: '\e6d5' !important;
}

.icon-n-leizhenyu:before {
  content: '\e6d9' !important;
}

.icon-n-yun:before {
  content: '\e648' !important;
}

.icon-dingwei:before {
  content: '\e61f';
}

.icon-ai-home:before {
  content: '\e61d';
}

.icon-quxiao:before {
  content: '\e60a';
}

.icon-yin:before {
  content: '\e62a' !important;
}

.icon-biaoqian:before {
  content: '\e62b';
}

.icon-chakan:before {
  content: '\e658';
}

.icon-qing:before {
  content: '\e604' !important;
}

.icon-yun:before {
  content: '\e605' !important;
}

.icon-duoyun:before {
  content: '\e606' !important;
}

.icon-zhongyu:before {
  content: '\e607' !important;
}

.icon-xiaoyu:before {
  content: '\e608' !important;
}

.icon-dayu:before {
  content: '\e609' !important;
}

.icon-leizhenyu:before {
  content: '\e60b' !important;
}

.icon-yujiabingbao:before {
  content: '\e60c' !important;
}

.icon-tedabaoyu:before {
  content: '\e60d' !important;
}

.icon-baoyu:before {
  content: '\e60e' !important;
}

.icon-xiaoxue:before {
  content: '\e60f' !important;
}

.icon-zhongxue:before {
  content: '\e610' !important;
}

.icon-yujiaxue:before {
  content: '\e611' !important;
}

.icon-daxue:before {
  content: '\e612' !important;
}

.icon-fuchen:before {
  content: '\e613' !important;
}

.icon-shachen:before {
  content: '\e614' !important;
}

.icon-tedabaoxue:before {
  content: '\e615' !important;
}

.icon-wu:before {
  content: '\e616' !important;
}

.icon-wumai:before {
  content: '\e617' !important;
}

.icon-jufeng:before {
  content: '\e618' !important;
}

.icon-dafeng:before {
  content: '\e619' !important;
}

.icon-longjuanfeng:before {
  content: '\e61a' !important;
}

.icon-feng:before {
  content: '\e61b' !important;
}

.icon-weizhi:before {
  content: '\e61c';
}

.icon-n-wu:before {
  content: '\e6ef' !important;
}

.icon-zuozhe:before {
  content: '\e61e';
}

.icon-zhenyu:before {
  content: '\e632' !important;
}

.icon-time:before {
  content: '\e685';
}

.icon-zanwushuju:before {
  content: '\e600';
}

.icon-zhaopianqiang:before {
  content: '\e640';
}

.icon-codestore:before {
  content: '\e7d5';
}

.icon-bokeyuan:before {
  content: '\e603';
}

.icon-n-xiaoxue:before {
  content: '\e601' !important;
}

.icon-n-zhongxue:before {
  content: '\e602' !important;
}

.icon-n-daxue:before {
  content: '\e620' !important;
}

.icon-n-dayu:before {
  content: '\e621' !important;
}

.icon-n-baoyu:before {
  content: '\e622' !important;
}

.icon-n-xiaoyu:before {
  content: '\e623' !important;
}

.icon-n-tedabaoyu:before {
  content: '\e624' !important;
}

.icon-n-zhongyu:before {
  content: '\e625' !important;
}

.icon-n-tedabaoxue:before {
  content: '\e626' !important;
}
