$defaultColor: #cecec4;
$activeColor: #1ed9be;

// 初始化
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
dl,
dt,
dd,
ul,
ol,
li,
form,
span,
strong,
b,
em,
i,
button,
input,
textarea,
pre,
code,
article,
section,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: auto !important;
  color: #333;
  font-size: 14px;
  font-family: Arial, Microsoft YaHei, 黑体, 宋体, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  overflow-x: hidden;
}

img {
  border: 0 none;
  vertical-align: top;
}

a,
button {
  text-decoration: none !important;
  cursor: pointer;
  hide-focus: expression(this.hideFocus=true);
}

a,
button,
input,
html {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border: none;
}

li {
  list-style: none;
  vertical-align: top;
}

input {
  border: 0;
  background: none;
  outline: none;

  &:disabled {
    background-color: rgba(192, 192, 192, 0.4) !important;
  }
}

strong,
b {
  font-weight: normal;
}

.container {
  max-width: 1200px;
  padding: 0 !important;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

[v-cloak] {
  display: none;
}

::-webkit-input-placeholder {
  color: #999;
}

.clear {
  zoom: 1;
}

.clear:after {
  content: '\20';
  clear: both;
  display: block;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

// 元件
.u_transition_300 {
  transition: 0.3s all ease-in-out;
}

.u_transition_500 {
  transition: 0.5s all ease-in-out;
}

.u_transition_700 {
  transition: 0.7s all ease-in-out;
}

.u_hover_active:hover {
  color: $activeColor !important;
}

.u_hover_active_bg:hover {
  color: #fff !important;
  background: $activeColor !important;
}

.u_hover_show:hover {
  opacity: 1 !important;
}

.u_loading {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 25px;
  width: 10px;
  border-radius: 10%;
  background: #2c3e50;
  border-top-color: $activeColor;
  animation: fade2 1s infinite;
  transition: background 0.2s;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  &:after,
  &:before {
    content: '';
    position: absolute;
    display: block;
    height: 15px;
    width: 8px;
    background: #2c3e50;
    top: 5px;
    left: -12px;
    border-radius: 10%;
    animation: fade1 1s infinite;
    transition: background 0.2s;
  }

  &:before {
    left: 14px;
    animation: fade3 1s infinite;
  }
}

@keyframes fade1 {
  0% {
    background: $activeColor;
  }
}

@keyframes fade2 {
  33% {
    background: $activeColor;
  }
}

@keyframes fade3 {
  66% {
    background: $activeColor;
  }
}

.u_arrow {
  position: fixed;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-left: -11px;
  border: 3px solid transparent;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  z-index: 99;
  opacity: 0.8;
  -webkit-transform: rotate(45deg);
  -webkit-animation: arrow_move 1.5s infinite ease-in-out;
}

@keyframes arrow_move {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0px) rotate(45deg);
  }

  50% {
    opacity: 1;
    -webkit-transform: translate(0, -5px) rotate(45deg);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate(0, -10px) rotate(45deg);
  }
}

.u_button {
  cursor: pointer;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  border-radius: 4px;
  margin-left: 20px;
  color: #fff;
  background-color: $defaultColor;
  border: 1px solid $defaultColor;

  &:hover {
    color: $activeColor !important;
    background-color: #fff !important;
    border: 1px solid $activeColor !important;
  }
}

.u_in_request {
  position: relative;

  i {
    animation: ball-clip-rotate 0.75s linear infinite;
    -webkit-animation: ball-clip-rotate 0.75s linear infinite;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 10;
    background-color: #fff;
    opacity: 0.35;
  }
}

.post-content-container {
  position: relative;
  bottom: -2px;
  box-shadow: 0px 15px 45px -9px rgba(0, 0, 0, 0.5);
}

.post-content-container:hover {
  bottom: 0;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.15);
}

// 布局
.g-overflow-hidden {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.g-c-center {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.g-r-center {
  display: flex;
  display: -webkit-flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.g-box {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.g-button {
  padding: 0 20px;
  height: 36px;
  color: #fff;
  border-radius: 4px;
  opacity: 0.5;
  cursor: auto;
  &.active {
    opacity: 1;
    cursor: pointer;
  }
}

.g-bolang {
  position: absolute;
  z-index: 1;
  width: 100%;

  svg {
    width: 100%;

    .g-bolang-svg {
      fill: #fff;
      -webkit-animation: bolang 20s linear infinite alternate;
      animation: bolang 20s linear infinite alternate;
      width: 100%;
    }
  }
}

// 代码块样式
.code-editor {
  max-width: 100%;

  .embed-nav {
    width: 100%;
    padding: 0 15px;
    background-color: #384a56;

    ul {
      height: 44px;
      justify-content: flex-start;

      li {
        width: 50px;
        height: 30px;
        margin-right: 10px;
        line-height: 30px;
        text-align: center;
        color: #bac1c9;
        cursor: pointer;

        &.active {
          border-radius: 15px;
          background-color: #233038;
        }
      }
    }
  }

  pre.line-numbers {
    position: absolute;
    z-index: -100;
    width: 100%;
    height: 400px;
    padding: 0 20px 0 55px;
    margin: 0;
    line-height: 20px;
    color: #fff;
    overflow: auto;
    background: #4e606c;
    white-space: inherit;
    opacity: 0;
    -webkit-overflow-scrolling: touch;

    &.active {
      position: relative;
      z-index: 1;
      opacity: 1;
    }

    code {
      display: block;
      padding: 0;
      white-space: pre;
      word-spacing: normal;
      word-break: normal;
      background: #4e606c;
    }

    .line-numbers-rows {
      position: absolute;
      pointer-events: none;
      top: 20px;
      font-size: 100%;
      left: 15px;
      width: 40px;
      letter-spacing: -1px;
      color: #879ba6;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      span {
        counter-increment: linenumber;

        &::before {
          content: counter(linenumber);
          color: #999;
          display: block;
          padding-right: 0.8em;
          text-align: right;
        }
      }
    }
  }
}

#index .g-bolang-svg {
  fill-opacity: 0;
}

// 图片模糊
.progressive.not-loaded {
  filter: blur(20px);
}

.progressive.is-loaded {
  filter: blur(20px);
  animation: sharpen 1.2s ease-out both;
}

@keyframes sharpen {
  0% {
    filter: blur(15px);
  }

  80% {
    filter: blur(0px);
  }

  100% {
    filter: blur(0px);
  }
}

// 动画
@keyframes bolang {
  0% {
    d: path('M 27 10C 21 8 14 3 0 3L 0 0L 54 0L 54 14C 40 14 33 12 27 10Z');
  }

  50% {
    d: path('M 27 14C 12 14 5 7 0 7L 0 0L 54 0L 54 7C 49 7 42 14 27 14Z');
  }

  100% {
    d: path('M 27 10C 21 12 14 14 0 14L 0 0L 54 0L 54 3C 40 3 33 8 27 10Z');
  }
}

@keyframes ball-clip-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

// 自适应
@media (max-width: 1250px) {
  .container {
    max-width: 920px !important;
  }
}

@media (max-width: 900px) {
  .container {
    max-width: 740px !important;
  }
}

@media (max-width: 800px) {
  .container {
    max-width: 700px !important;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 468px !important;

    .code-editor {
      padding-top: 0;
    }
  }
}

@media (max-width: 550px) {
  .container {
    max-width: 350px !important;
  }
}
