// font 资源配置
@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot?t=1502357518313');
  /* IE9*/
  src: url('../font/iconfont.eot?t=1502357518313#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../font/iconfont.woff?t=1502357518313') format('woff'),
    /* chrome, firefox */ url('../font/iconfont.ttf?t=1502357518313')
      format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
      url('../font/iconfont.svg?t=1502357518313#iconfont') format('svg');
  /* iOS 4.1- */
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou:before {
  content: '\e633';
}

.icon-navicon-hdbk:before {
  content: '\e66a';
}

.icon-qipao:before {
  content: '\e603';
}

.icon-404:before {
  content: '\e6c7';
}

.icon-lianjie:before {
  content: '\e64b';
}

.icon-huifu:before {
  content: '\e647';
}

.icon-n-qing:before {
  content: '\e642' !important;
}

.icon-github:before {
  content: '\ead8';
}

.icon-upload:before {
  content: "\e61d";
}

.icon-search:before {
  content: '\e639';
}

.icon-n-duoyun:before {
  content: '\e6d5' !important;
}

.icon-n-leizhenyu:before {
  content: '\e6d9' !important;
}

.icon-n-yun:before {
  content: '\e648' !important;
}

.icon-dingwei:before {
  content: '\e61f';
}

.icon-quxiao:before {
  content: '\e60a';
}

.icon-yin:before {
  content: '\e62a' !important;
}

.icon-biaoqian:before {
  content: '\e62b';
}

.icon-chakan:before {
  content: '\e658';
}

.icon-qing:before {
  content: '\e604' !important;
}

.icon-yun:before {
  content: '\e605' !important;
}

.icon-duoyun:before {
  content: '\e606' !important;
}

.icon-zhongyu:before {
  content: '\e607' !important;
}

.icon-xiaoyu:before {
  content: '\e608' !important;
}

.icon-dayu:before {
  content: '\e609' !important;
}

.icon-leizhenyu:before {
  content: '\e60b' !important;
}

.icon-yujiabingbao:before {
  content: '\e60c' !important;
}

.icon-tedabaoyu:before {
  content: '\e60d' !important;
}

.icon-baoyu:before {
  content: '\e60e' !important;
}

.icon-xiaoxue:before {
  content: '\e60f' !important;
}

.icon-zhongxue:before {
  content: '\e610' !important;
}

.icon-yujiaxue:before {
  content: '\e611' !important;
}

.icon-daxue:before {
  content: '\e612' !important;
}

.icon-huifu1:before {
  content: '\e717';
}

.icon-fuchen:before {
  content: '\e613' !important;
}

.icon-shachen:before {
  content: '\e614' !important;
}

.icon-tedabaoxue:before {
  content: '\e615' !important;
}

.icon-wu:before {
  content: '\e616' !important;
}

.icon-wumai:before {
  content: '\e617' !important;
}

.icon-jufeng:before {
  content: '\e618' !important;
}

.icon-dafeng:before {
  content: '\e619' !important;
}

.icon-longjuanfeng:before {
  content: '\e61a' !important;
}

.icon-feng:before {
  content: '\e61b' !important;
}

.icon-weizhi:before {
  content: '\e61c';
}

.icon-n-wu:before {
  content: '\e6ef' !important;
}

.icon-zhenyu:before {
  content: '\e632' !important;
}

.icon-time:before {
  content: '\e685';
}

.icon-zanwushuju:before {
  content: '\e600';
}

.icon-load-error:before {
  content: '\e87d';
}

.icon-codestore:before {
  content: '\e7d5';
}

.icon-n-xiaoxue:before {
  content: '\e601' !important;
}

.icon-n-zhongxue:before {
  content: '\e602' !important;
}

.icon-n-daxue:before {
  content: '\e620' !important;
}

.icon-n-dayu:before {
  content: '\e621' !important;
}

.icon-n-baoyu:before {
  content: '\e622' !important;
}

.icon-n-xiaoyu:before {
  content: '\e623' !important;
}

.icon-n-tedabaoyu:before {
  content: '\e624' !important;
}

.icon-n-zhongyu:before {
  content: '\e625' !important;
}

.icon-n-tedabaoxue:before {
  content: '\e626' !important;
}
