$imghost: 'http://image.zhuweipeng.top/';
#index {
  position: relative;
  height: 100vh;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  &:before {
    content: ' ';
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url($imghost+'blog_index_bg.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #intro {
    position: relative;
    height: 100vh;
    .icon-codestore {
      display: none;
      position: fixed;
      top: 30%;
      font-size: 80px;
      color: rgba(206, 206, 196, 1);
    }
    h1 {
      position: fixed;
      top: 45%;
      font-size: 30px;
      opacity: 1;
    }
  }
  #indexMain {
    position: relative;
    z-index: 100;
    .box {
      position: relative;
      background-color: #cecec4;
      &.box1 {
        height: 70vh;
      }
      .weather_box {
        position: absolute;
        top: -2vh;
        left: -1px;
        z-index: 100;
        width: 0;
        height: 0;
        border-right: 25vw solid transparent;
        border-top: 72vh solid rgba(255, 255, 255, 0.8);
        #weather {
          position: absolute;
          top: -65vh;
          width: 20vw;
        }
      }
      .wallpaper {
        position: relative;
        width: 100vw;
        height: 70vh;
        background-size: cover !important;
        -webkit-background-size: cover !important;
        p {
          padding: 10px 10px 10px 25VW;
          line-height: 25px;
          color: rgba(255, 255, 255, 0.7);
          text-align: right;
          strong {
            display: block;
            font-size: 18px;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.u_arrow {
  position: absolute;
  top: -20px;
}

@media (max-width: 768px) {
  #intro {
    .icon-codestore {
      display: block !important;
    }
    h1 {
      font-size: 25px !important;
    }
  }
  .wallpaper > p {
    > strong {
      font-size: 16px !important;
    }
    > span {
      font-size: 12px;
    }
  }
}
