@media (max-width: 1250px){
    .container { max-width: 920px !important; }
}

@media (max-width: 990px){
    #rightBox {display: none !important;}
}

@media (max-width: 900px){
    .container { max-width: 740px !important; }
}

@media (max-width: 800px){
    .container { max-width: 600px !important; }
}

@media (max-width: 768px){
    #index { margin-bottom: 0 !important; }
    #main { padding: 120px 0 30px !important; }
    #footer { 
        position: relative !important;
        z-index: 100 !important;  
        height: auto !important;
    }
    #header {
        .col-sm-menu {
            display: none !important;
        }
        .col-xs-menu,.c-hamburger {
            display: block !important;
        }
    }
    .container { max-width: 468px !important; }
    .articleList article { width: 100% !important; padding-right: 0 !important; }
}

@media (max-width: 550px){
    .container { max-width: 320px !important; }
}

body, ul, li, ol, li, dl, dt, dd, form, h1, h2, h3, h4, p, div, hr, tabel, tr, td, select, option, br, span, img, a, label, form, input, textarea, em, i, strong, b {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body { position: relative; font-size: 14px; font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif !important; }
img { border: 0 none; vertical-align: top;}
a { text-decoration: none !important; cursor: pointer; outline: none; hide-focus: expression(this.hideFocus=true) }
li { list-style: none; vertical-align:top;}
input{ font-size: 0.14rem; border: 0; background: none; float: left; outline: none; }
::-webkit-input-placeholder { color: #999; }
.clear{ zoom: 1;}
.clear:after { content: "\20"; clear: both; display: block;}
.fl{ float: left;}
.fr{ float: right;}

.container { max-width: 1200px; padding: 0 !important; color: #333; }
#rightBox,#footer {
    h3 {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 30px;
        color: #e3e3e3;
    }
}

#rightBox h3 {
    color: #333;
}

.swiper-pagination {
    bottom: 5px;
    width: 100%;
    text-align: center;
    span {
        width: 12px;
        height: 12px;
        margin: 0 3px;
    }
}

.swiper-wrapper {
    display: -webkit-box !important;
    -webkit-box-pack:center;
    -webkit-box-align:center;
}

/* 元件 */
.u_transition {
    transition: 0.3s all ease-in-out;
}

.u_hover_blue:hover {
    color: #47c9e5 !important;
}

.u_hover_gray:hover {
    color: #403f3f !important;
}

.u_hover_blue_bg:hover {
    color: #fff !important;
    background: #47c9e5 !important;
}

.u_hover_show:hover {
    opacity: 1 !important;
}

.post-content-container {
    position: relative;
    bottom: -2px;
    box-shadow: 0px 15px 45px -9px rgba(0,0,0,0.5);
 }

.post-content-container:hover {
    bottom: 0;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.15);
 }

/* 布局 */
.g-overflow-hidden {
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}

.g-c-center {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.g-r-center {
    display: flex;
    display: -webkit-flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}