#index {
    position: relative;
    height: 100vh;
    &:before {
        content: ' ';
        position: fixed;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url('http://image.zhuweipeng.me/blog_index_bg.jpg?imageView2/2/interlace/1/format/webp/w/1080') no-repeat center bottom;
        background-size: cover !important;
        -webkit-background-size: cover !important;
    }
    &.isSupportWebp:before {
        background: url('http://image.zhuweipeng.me/blog_index_bg.jpg?imageView2/2/interlace/1/w/1080') no-repeat center bottom;
    }
    #intro {
        position: relative;
        height: 100vh;
        .icon-codestore {
            display: none;
            position: fixed;
            top: 30%;
            font-size: 80px;
            color: rgba(206, 206, 196, 1);
        }
        h1 {
            position: fixed;
            top: 45%;
            font-size: 30px;
            opacity: 1;
        }
    }
    #indexMain {
        position: relative;
        z-index: 100;
        .box {
            position: relative;
            background-color: #cecec4;
            &.box1 {
                height: 70vh;
            }
            .weather_box {
                position: absolute;
                top: -2vh;
                left: -1px;
                z-index: 100;
                width: 0;
                height: 0;
                border-right: 25vw solid transparent;
                border-top: 72vh solid rgba(255, 255, 255, 0.8);
                #weather {
                    position: absolute;
                    top: -65vh;
                    width: 20vw;
                }
            }
            .wallpaper {
                position: relative;
                width: 100vw;
                height: 70vh;
                background-size: cover !important;
                -webkit-background-size: cover !important;
                p {
                    padding: 10px 10px 10px 25vw;
                    align-items: flex-end;
                    line-height: 25px;
                    color: rgba(255, 255, 255, 0.7);
                    strong {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

.u_arrow {
    position: absolute;
    top: -20px;
}

@media (max-width: 768px) {
    #intro {
        .icon-codestore {
            display: block !important;
        }
        h1 {
            font-size: 25px !important;
        }
    }
}