#index {
    position: relative;
    height: 100%;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    #intro {
        position: relative;
        height: 100vh;
        .icon-codestore {
            display: none;
            position: fixed;
            top: 30%;
            font-size: 80px;
            color: rgba(206,206,196,1);
        }
        h1{
            position: fixed;
            top: 45%;
            font-size: 30px;
            opacity: 1;
        }
    }
    #indexMain {
        position: relative;
        .box {
            position: relative;
            &.box1 {
                height: 70vh;
            }
            .weather_box {
                position: absolute;
                top: -2vh;
                left: -1px;
                z-index: 100;
                width: 0;
                height: 0;
                border-right: 25vw solid transparent;
                border-top: 72vh solid rgba(255,255,255,0.8);
                #weather {
                    position: absolute;
                    top: -65vh;
                    width: 20vw;
                }
            }
            .wallpaper {
                position: relative;
                width: 100vw;
                height: 70vh;
                background-size: cover !important;
                background-color: #000;
                -webkit-background-size: cover !important;
                p {
                    padding: 10px 10px 10px 25vw;
                    align-items: flex-end;
                    line-height: 25px;
                    color: rgba(255,255,255,0.7);
                    strong {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

.u_arrow {
    position: absolute;
    top: -20px;
}

@media (max-width: 768px){
    #intro {
        .icon-codestore {
            display: block !important;
        } 
        h1 {
            font-size: 25px !important;
        }
    }
}